.contentContainer {
  max-width: 1120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #1fd486;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}
.imgHome {
  width: 300px;
}

.callToAction {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    span {
      font-size: 1.5rem;
      color: #20212c;
      font-weight: bold;
    }
  }
}

.doadores {
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  max-width: 700px;
  min-width: 290px;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;

    + img {
      margin-left: 10px;
    }
  }
  img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
