.contentContainer {
  max-width: 1120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #1fd486;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}
.imgHome {
  width: 300px;
}

.callToAction {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: #20212cbd 1px 1px 5px;
  }
  span {
    p {
      color: #fff;
      text-align: center;
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: #20212cbd 1px 1px 5px;
    }
  }
}

.apoiadores {
  display: flex;
  flex-direction: column;

  p {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: #20212cbd 1px 1px 5px;
  }
}
.doadores {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  max-width: 700px;
  min-width: 290px;
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
    box-shadow: #20212cdb 1px 1px 5px;

    + img {
      margin-left: 10px;
    }
  }
  img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
