.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(233, 19, 19);
  text-align: center;
  margin-bottom: 1rem;
  padding: 5px;
  span {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(19, 23, 233);
    padding: 5px;
  }
}
