.donateButton {
  button {
    border: 0;
    background: #1fd486;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 0.7rem;
    filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.5));
    transition: all 0.2s;
    color: aliceblue;
    font-weight: bold;
  }
  button:hover {
    transform: scale(1.1);
  }
}
